html {
  font-size: 18px;
}

/* Header Styles */
.site-container {
  display: flex;
  width: 960px;
  height: auto;
  margin: 0px auto;
  font-family: Helvetica;
}

.site-container a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  background-size: cover;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin: 0px;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.logo a {
  text-decoration: none;
}

.name {
  align-self: center;
  font-size: 1rem;
  color: white;
}

.main-banner {
  display: flex;
  justify-content: flex-start;
  height: 25rem;
  background-image: url(https://87designer.github.io/SecretAgentSupply/resources/images/moto.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-arrival {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
  height: 6rem;
  background-color: black;
}

.new-1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.new-2 {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  background-color: firebrick;
  padding: 0.75rem 0rem;
}


/* Main Content Styles */
.content {
  display: flex;
  flex-direction: column;
}

.product-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.box {
  width: 30%;
}

.box-img {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img img {
  max-width: 8em;
}

.box .glasses {
  max-width: 8em;
}

.product-grid span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.about {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.hours {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.about1 {
  background-color: black;
  padding: 1rem 2rem;
}

.about2 {
  color: black;
}


/* Footer Styles */

footer {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  text-align: left;
}

#myTopnav {
  margin: auto;
}

/* mobile drop down menu */
.topnav a {
  justify-content: space-between;
  padding: .75rem 2.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: Helvetica;
}

.topnav .icon {
  margin: auto;
  text-align: center;
  display: none;
}

.home {
  display: none;
}

@media screen and (max-width: 1024px) {
  /* screens smaller than 1024px */
  .topnav a {
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    margin: auto;
    display: block;
  }

  .topnav.responsive {
    margin: auto;
  	position: relative;
   }

  .topnav.responsive .icon {
    top: 0;
  }

  .topnav.responsive a {
    margin: auto;
    display: block;
  }

  .box {
    width: 47%;
  }

  .hide {
    display: none;
  }

  .product-grid {
    width: 100%;
  }

  .about {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  /* screens smaller than 470px */
  .logo img {
    margin: auto;
  }

  .name {
    display: none;
  }

  .topnav a {
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    margin: auto;
    display: block;
  }

  .topnav.responsive {
    margin: auto;
  	position: relative;
   }

  .topnav.responsive .icon {
    top: 0;
  }

  .topnav.responsive a {
    margin: auto;
    display: block;
  }

  .site-container {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0px auto;
    font-family: Helvetica;
  }

  .main-banner {
    height: 15rem;
  }

  .new-arrival {
    height: auto;
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 2rem;
  }

  .new-1 {
    font-family: Helvetica;
    font-size: 0.77rem;
    font-weight: bold;
  }

  .new-2 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
  }

  .product-grid {
    width: 100%;
    margin: 2rem auto 2rem auto;
  }

  .box {
    width: 90%;
    margin: auto;
  }

  .hide {
    display: none;
  }

  .hide2 {
    display: none;
  }

  .about {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2rem auto;
  }

  .location {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5rem auto;
  }

  .hours {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .about1 {
    background-color: black;
    padding: 1rem 2rem;
  }

  .about2 {
    color: black;
  }

  footer {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
  }

  footer span {
    margin:auto;
  }
}
